<main>
  <section class="about">
    <div class="container about-container">
      <h2>About Us</h2>
      <div class="mycontainer about-mycontainer">
        <img src="../../assets/container.svg" alt="" />
        <p class="about-para">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod
          perferendis laboriosam repellendus saepe, officia cumque quibusdam
          aperiam ea libero culpa nam explicabo earum? Tenetur libero dolor
          porro sit incidunt quis vel odio, harum minus, numquam magnam magni!
          Explicabo, placeat minima. Unde, culpa suscipit adipisci pariatur
          incidunt tempora officiis repellat modi inventore dicta corrupti, cum
          aliquid consequuntur repellendus illum quod quasi deserunt consequatur
          alias consectetur, laudantium magnam velit quos. Illo unde at autem
          nostrum veniam, totam perferendis voluptates voluptatum tenetur
          repellat nulla atque maiores praesentium recusandae facere quo neque
          laudantium. Quaerat ea accusantium id nostrum, dolores beatae
          molestiae magni necessitatibus vel?
        </p>
      </div>
    </div>
  </section>
  <section class="container services">
    <h2>Services</h2>
    <div class="mycontainer container">
      <div>
        <img src="../../assets/image1.jpg" alt="" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nihil
          fugit, eaque rerum possimus minus sed consectetur, repellat
          consequatur voluptate officiis quasi ducimus beatae. Provident
          sapiente, ea culpa rem et, nesciunt reiciendis eum omnis sit possimus
          voluptatibus perferendis alias placeat. Impedit nobis pariatur
          accusamus debitis ipsam velit. Nobis temporibus excepturi assumenda
          quas. Recusandae, fuga. Repellendus voluptates repellat tempore minus.
          Natus at suscipit iusto aliquam est velit earum reprehenderit mollitia
          dolorum eligendi et nobis, eum sunt vel accusamus? Itaque quos quam
          quibusdam? Suscipit, incidunt? Dignissimos libero obcaecati
          repellendus vel, excepturi explicabo cupiditate odit iusto temporibus?
          Quisquam asperiores voluptas neque dolore ea.
        </p>
      </div>
    </div>
    <div class="mycontainer container">
      <div>
        <img src="../../assets/image 2.jpg" alt="" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nihil
          fugit, eaque rerum possimus minus sed consectetur, repellat
          consequatur voluptate officiis quasi ducimus beatae. Provident
          sapiente, ea culpa rem et, nesciunt reiciendis eum omnis sit possimus
          voluptatibus perferendis alias placeat. Impedit nobis pariatur
          accusamus debitis ipsam velit. Nobis temporibus excepturi assumenda
          quas. Recusandae, fuga. Repellendus voluptates repellat tempore minus.
          Natus at suscipit iusto aliquam est velit earum reprehenderit mollitia
          dolorum eligendi et nobis, eum sunt vel accusamus? Itaque quos quam
          quibusdam? Suscipit, incidunt? Dignissimos libero obcaecati
          repellendus vel, excepturi explicabo cupiditate odit iusto temporibus?
          Quisquam asperiores voluptas neque dolore ea.
        </p>
      </div>
    </div>
    <div class="mycontainer container">
      <div>
        <img src="../../assets/image3.jpg" alt="" />
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nihil
          fugit, eaque rerum possimus minus sed consectetur, repellat
          consequatur voluptate officiis quasi ducimus beatae. Provident
          sapiente, ea culpa rem et, nesciunt reiciendis eum omnis sit possimus
          voluptatibus perferendis alias placeat. Impedit nobis pariatur
          accusamus debitis ipsam velit. Nobis temporibus excepturi assumenda
          quas. Recusandae, fuga. Repellendus voluptates repellat tempore minus.
          Natus at suscipit iusto aliquam est velit earum reprehenderit mollitia
          dolorum eligendi et nobis, eum sunt vel accusamus? Itaque quos quam
          quibusdam? Suscipit, incidunt? Dignissimos libero obcaecati
          repellendus vel, excepturi explicabo cupiditate odit iusto temporibus?
          Quisquam asperiores voluptas neque dolore ea.
        </p>
      </div>
    </div>
  </section>
</main>
