<h2>{{ isCreating ? "Register Vehicle" : "Update Vehicle" }}</h2>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Vehicle Name</mat-label>
    <input
      matInput
      type="text"
      id="vehicleName"
      formControlName="vehicleName"
    />
    <mat-error *ngIf="!vehicleForm.get('vehicleName')!.valid">
      Please enter a valid Vehicle Name
    </mat-error>
  </mat-form-field>
  <table>
    <tr>
      <td>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Retire Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            id="retireDate"
            formControlName="retireDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="!vehicleForm.get('retireDate')!.valid">
            Please enter a valid Shippig Date
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Vehicle Number</mat-label>
          <input
            matInput
            type="text"
            id="vehicleNumber"
            formControlName="vehicleNumber"
          />
          <mat-error *ngIf="!vehicleForm.get('vehicleNumber')!.valid">
            Please enter a valid Vehicle Number
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Max Lifting Capacity</mat-label>
          <input
            matInput
            type="number"
            id="maxLiftingCapacity"
            formControlName="maxLiftingCapacity"
          />
          <mat-error *ngIf="!vehicleForm.get('maxLiftingCapacity')!.valid">
            Please enter a valid Maximum Lifting Capacity
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Vehicle Status</mat-label>
          <input
            matInput
            type="text"
            id="vehicleStatus"
            formControlName="vehicleStatus"
          />
          <mat-error *ngIf="!vehicleForm.get('vehicleStatus')!.valid">
            Please enter a valid Vehicle Status
          </mat-error>
        </mat-form-field> -->

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Vehicle</mat-label>
          <mat-select formControlName="vehicleStatus">
            <mat-option *ngFor="let stat of status" [value]="stat">
              {{ stat }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!vehicleForm.get('vehicleStatus')!.valid">
            Please enter a valid Vehicle Status
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Country</mat-label>
          <input matInput type="text" id="country" formControlName="country" />
          <mat-error *ngIf="!vehicleForm.get('country')!.valid">
            Please enter a valid Country
          </mat-error>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Harbor Location</mat-label>
          <input
            matInput
            type="text"
            id="harborLocation"
            formControlName="harborLocation"
          />
          <mat-error *ngIf="!vehicleForm.get('harborLocation')!.valid">
            Please enter a valid Harbor Location
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <button type="submit" class="btn btn-primary" [disabled]="!vehicleForm.valid">
    {{ isCreating ? "Register" : "Update" }}
  </button>
  <p *ngIf="errorMessage!==''">{{errorMessage}}</p>
  <p *ngIf="successMessage!==''">{{successMessage}}</p>
</form>
