<h2>Login Form</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="cnotainer md-6">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email_id" formControlName="email_id" />
    <mat-error *ngIf="!loginForm.get('email_id')!.valid">
      Please enter a valid Eamil
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      type="password"
      id="password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="!loginForm.get('password')!.valid">
      Please enter a valid Password
    </mat-error>
  </mat-form-field>

  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
</form>
