<h2>{{ isCreating ? "Register User" : "Update User" }}</h2>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field
    class="example-full-width"
    appearance="fill"
    *ngif="!isCreating"
  >
    <mat-label>User Id</mat-label>
    <input matInput type="text" id="user_id" formControlName="user_id" />
  </mat-form-field>

  <!-- <input matInput placeholder="Ex. Pizza" value="Sushi" /> -->
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <!-- <label for="first_name" class="form-label">First Name</label> -->
          <input
            matInput
            type="text"
            id="first_name"
            formControlName="first_name"
          />
          <mat-error *ngIf="!userForm.get('first_name')!.valid">
            Please enter a valid First Name
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            id="last_name"
            formControlName="last_name"
          />
          <mat-error *ngIf="!userForm.get('last_name')!.valid">
            Please enter a valid Last Name
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            id="email_id"
            formControlName="email_id"
          />
          <mat-error *ngIf="!userForm.get('email_id')!.valid">
            Please enter a valid Eamil
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mobile Number</mat-label>
          <input
            matInput
            type="text"
            id="mobile_number"
            formControlName="mobile_number"
          />
          <mat-error *ngIf="!userForm.get('mobile_number')!.valid">
            Please enter a valid Mobile Number
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      type="password"
      id="password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="!userForm.get('password')!.valid">
      Please enter a valid Password
    </mat-error>
  </mat-form-field>

  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nationality</mat-label>
          <input
            matInput
            type="text"
            id="nationality"
            formControlName="nationality"
          />
          <mat-error *ngIf="!userForm.get('nationality')!.valid">
            Please enter a valid Nationality
          </mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Passport Number</mat-label>
          <input
            matInput
            type="text"
            id="passport_number"
            formControlName="passport_number"
          />
          <mat-error *ngIf="!userForm.get('passport_number')!.valid">
            Please enter a valid Passport Number
          </mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Permanent Address</mat-label>

    <textarea
      matInput
      type="text"
      id="permanent_address"
      formControlName="permanent_address"
    ></textarea>
    <mat-error *ngIf="!userForm.get('permanent_address')!.valid">
      Please enter a valid Permanent Address
    </mat-error>
  </mat-form-field>

  <!-- <section class="example-section">
      <mat-checkbox class="example-margin" (change)="makeAddressSame($event)"
        >Office address and Peramnent address is same</mat-checkbox
      >
    </section> -->

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Officie Address</mat-label>

    <textarea
      matInput
      type="text"
      id="Office_address"
      formControlName="Office_address"
    ></textarea>

    <mat-error *ngIf="!userForm.get('Office_address')!.valid">
      Please enter a valid Address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Personal Identification Number</mat-label>

    <input
      matInput
      type="text"
      id="personal_identification_number"
      formControlName="personal_identification_number"
    />
    <mat-error *ngIf="!userForm.get('personal_identification_number')!.valid">
      Please enter a valid Personal Identification Number
    </mat-error>
  </mat-form-field>

  <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">
    {{ isCreating ? "Register" : "Update" }}
  </button>
</form>
